* {
    /* Свойства для сброса начальных стилей элементов */
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Inter", sans-serif;
	color: #303030; 
}

header {
    /* Стили для хедера */
	background-color: #2965F1;
	width: 1440px;
	padding: 16px 0;
}

h1, h2, h3, .bold-text {
    font-weight: 700;
}

p, a {
    font-weight: 400;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
	font-weight: 700;
	font-style: Bold;
	font-size: 20px;
	line-height: 100%;
	letter-spacing: 0%;
	color: #FFF;
}

.main-section {
    /* Стили для первой секции */
	padding: 60px 0;
	background-color: #FAFAFF;
	min-height: 100vh;
}

.main-title {
    /* Стили для заголовка в первой секции */
	font-weight: 700;
	font-style: Bold;
	font-size: 48px;
	line-height: 100%;
	letter-spacing: 0%;
	margin-bottom: 20px;
}

.main-text {
    /* Стили для текста в первой секции */
	font-family: Inter;
	font-weight: 400;
	font-style: Regular;
	font-size: 18px;
	line-height: 100%;
	letter-spacing: 0%;
}

.main-image {
    /* Стили для изображения в первой секции */
	max-width: 715px;
	height: 508px;
}


.about-section {
    /* Стили для второй секции */
	padding: 100px 0;
	background-color: #FFF;
}

.about-section h2{
	margin-bottom: 25px;
}

select {
    /* Стили для выпадающего списка */
	background-image: url('./img/ep_arrow-down.svg');
    appearance: none;
    width: 150px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #3030304D;
    color: #303030;
    background-repeat: no-repeat;
    background-position: right 12px center;
    padding: 0 12px;
}

.section-title {
    /* Стили для заголовков во второй секции */
	font-weight: 700;
	font-style: Bold;
	font-size: 24px;
	line-height: 100%;
	letter-spacing: 0%;
	margin-bottom: 25px;
}

.frameworks-list, .books-list {
    /* Стили для маркированного списка во второй секции */
	font-weight: 400;
	font-style: Regular;
	font-size: 16px;
	line-height: 100%;
	letter-spacing: 0%;
	list-style-image: url('./img/solar_map-arrow-up-bold.svg');
	padding: 0px 20px;
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
	font-family: Inter;
	font-weight: 400;
	font-style: Regular;
	font-size: 16px;
	padding-left: 20px;
}

.label {
    /* Стили для подписей чекбоксов */
	gap: 4px;

}

.text-field {
    /* Стили для односточного поля ввода текста */
	width: 330px;
	height: 36px;
	border-width: 1px;
	border-radius: 5px;
	font-size: 16px !important;
}

.btn {
    /* Стили для кнопки */
	width: 330px;
	height: 36px;
	border-width: 1px;
	border-radius: 5px;
	background-color: #2965F1;
	font-weight: 700;
	color: #FFF;
}

.line {
    /* Стили для линии */
	border: 1px solid #3030304D;
	margin-bottom: 60px;
	margin-top: 60px;
}

table {
    /* Стили для таблицы */
	width: 300px;
	height: 196px;
	border: 1px solid #95A1BB;
	font-size: 14px;
	border-collapse: collapse;
}

th, td {
    /* Стили для ячеек таблицы */
	font-weight: 400;
	font-style: Regular;
	font-size: 14px;
	line-height: 100%;
	letter-spacing: 0px;
	padding: 12px 15px !important;
}

footer {
    /* Стили для футера */
	background-color: #E3E5FF;
	padding: 26px 0;
}

.footer-link {
    /* Стили для футера */
	font-family: Inter;
	font-weight: 400;
	font-style: Regular;
	font-size: 14px;
	line-height: 100%;
	color: #2965F1 !important;
	text-decoration: none !important;
}